
body {
    margin-left: 10%;
    margin-right: 10%;
}

main {

}

section {

}

header {

}

p {
    text-indent: 50px;
    width: 901px;
}
  
footer {
    width: 100%;
    bottom: 0;
}

.recipe {
    background-image: url('../assets/list-bg.png');
    width: 890px;
    height: 180px;
    margin-left: 5px;
    
}

td {
    width: 50%;
}

table {
    padding: 30px;
    color: rgb(80, 80, 3);
}

.strikethrough:checked + span {
    text-decoration: line-through;
}
